* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  padding-top: 15px;
}

main {
  margin-left: 1em;
  flex: 2;
}

main li {
  padding: 0.18em;
}

/* section,
main,
aside {
  border: 1px solid black;
} */

/* used to increase font size and stretch MICAH PILLER across the top || also used to reduce line spacing between MICAH PILLER and BUSINESS OPERATIONS */
h1 {
  letter-spacing: 5px;
  font-size: 4em;
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

/* used to close space above BUSINESS OPERATIONS and increase space below  */
h3.business-operations {
  padding-bottom: 0.75em;
  margin-top: 0.2em;
}

h3:not(.text-black) {
  color: cornflowerblue;
}

.text-black {
  padding-top: 20px;
}

span {
  font-weight: bold;
}

h1 > span {
  font-weight: 500;
}

.work-experience > h4 {
  text-transform: uppercase;
  color: cornflowerblue;
  margin: 0;
  padding-bottom: 0.25em;
}

.work-experience > h5 {
  font-style: italic;
  margin: 0;
}

/* used to bring "bullet points & content" further to the left and reduce line spacing between <h5> and <ul> */
.work-experience ul {
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
}

aside {
  border-left: 1px solid black;
  padding-left: 7px;
  margin-right: 2em;
  flex: 1;
}

/* used to create spacing between <li> elements nested in <aside> (i.e. <li>'s below SKILLS & HIGHLIGHTS) */
aside li {
  padding: 0.25em;
}

aside ul {
  list-style: none;
  padding-left: 0px;
}

.address-box {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3em;
}

/* used to reduce line spacing between the 2 address lines. <p>469.877.3065</p> is excluded. Source: https://css-tricks.com/useful-nth-child-recipies/ here is how :nth-child() pseudo selector works https://css-tricks.com/how-nth-child-works/*/
ul > p:nth-child(-n + 2) {
  line-height: 3px;
}

/* used to close the space between email address and mailing address  */
.address-box > a {
  margin-bottom: -1em;
  color: cornflowerblue;
}

h3.highlights,
h3.education {
  padding-top: 1em;
}
