body {
  font-family: "Raleway", sans-serif;
}

main {
  text-align: center;
  overflow: scroll;
  height: 700px;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

main > div {
  width: 400px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  text-transform: uppercase;
}

.hero-image {
  background-image: url("half-dome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image h1 {
  text-align: center;
  border: 2px white solid;
  display: inline;
  color: white;
  padding: 5px;
  max-width: 60%;
}

footer {
  background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  justify-content: center;
}

footer button {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  text-transform: uppercase;
  background: coral;
  color: white;
}

main p {
  line-height: 2.5em;
}

h3 {
  border: coral dotted 1px;
  color: coral;
}

h5 {
  color: gray;
  /* border-top: gray 1px solid; */
  /* width: 100px; */
}
